*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    color: palevioletred;
}

header{
    background: pink;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1{
    margin-bottom: 10px;

}

main{
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    align-items: center;
}

.controles{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 10px;
   margin-bottom: 20px;
   flex-wrap: wrap;
}

button{
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: pink;
    color: white;
    cursor: pointer;
}

button:hover{
    background: pink;
}

#status{
    margin-bottom: 20px;
    font-weight: bold;

}

.lista-alunos{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card{
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 
    0 4px 10px rgba(240, 114, 162, 0.842);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card h2{
    color: pink;
    margin-bottom: 15px;
}

.card p{
    margin: 8px 0;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background: palevioletred;
    color: white;
    text-align: center;
}

